@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'fonts.css';
@import 'wp-styles.css';

.editor-styles-wrapper p a {
  @apply text-blue-parrot no-underline;
}

.editor-styles-wrapper {
  @tailwind base;

  p {
    @apply text-base;
  }

  h1 {
    @apply font-arsonist text-3xl;
  }

  h2 {
    @apply font-arsonist text-xl;
  }

  h3 {
    @apply font-arsonist text-base;   
  }

  h4 {
    @apply font-serif uppercase tracking-wide pb-0 mb-0;
  }

  h5 {
    @apply text-center pb-0 mb-0;
  }

  .indented {
    @apply pl-3 md:pl-12;
  }

  .halix {
    font-family: DINdong;
    
    @apply pl-3 md:pl-12; 
  }

  .felixe {
    font-family: BBBBaskervvol-Fondue;

    @apply pl-3 md:pl-12;
  }

  .axxenne {
    font-family: DuctusRegular;

    @apply pl-3 md:pl-12;
  }

  .enza {
    font-family: Homoneta-Regular;

    @apply pl-3 md:pl-12;
  }

  .laurence {
    font-family: Amiamie-Light;
    font-weight: 200;

    @apply pl-3 md:pl-12;
  }
}