@font-face {
  font-family: 'Arsonist';
  src: url('../fonts/Arsonist-Black.woff2') format('woff2'),
    url('../fonts/Arsonist-Black.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Signifier';
  src: url('../fonts/signifier-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Signifier';
  src: url('../fonts/signifier-regular-italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: BBBBaskervvol-Fondue;
  font-weight: 400;
  src: url(../fonts/BBBBaskervvol-Fondue.woff2) format('woff2'),
    url(../fonts/BBBBaskervvol-Fondue.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: DINdong;
  font-weight: 200;
  src: url(../fonts/DINdong.woff2) format('woff2'),
    url(../fonts/DINdong.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: DuctusRegular;
  font-weight: 200;
  src: url(../fonts/DuctusRegular.woff2) format('woff2'),
    url(../fonts/DuctusRegular.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: Homoneta-Regular;
  font-weight: 200;
  src: url(../fonts/Homoneta-Regular.woff2) format('woff2'),
    url(../fonts/Homoneta-Regular.woff) format('woff');
  font-display: swap;
}		
@font-face {
  font-family: Amiamie-Light;
  font-weight: 200;
  src: url(../fonts/Amiamie-Light.woff2) format('woff2'),
    url(../fonts/Amiamie-Light.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: Amiamie-Light;
  font-weight: 200;
  src: url(../fonts/Amiamie-LightItalic.woff2) format('woff2'),
    url(../fonts/Amiamie-LightItalic.woff) format('woff');
  font-display: swap;
  font-style: italic;
}